<?xml version="1.0"?>
<launch>
    <include file="$(find dvrk_moveit_config)/launch/isaac_davinci_moveit.launch" />
    <node name="moveit_planner_server_node" pkg="shape_servo_control" type="arm_moveit_planner_server.py" respawn="false" output = "screen" />
    <node name="gen_grasp_preshape_server_node" pkg="shape_servo_control" type="gen_grasp_preshape_server.py" respawn="false" output = "screen" />
    <!-- <node name="record_data_node" pkg="shape_servo_control" type="record_sim_data_server.py" respawn="false" /> -->
    <!-- <node name="task_velocity_control_server_node" pkg="shape_servo_control" type="task_velocity_control_server.py" respawn="false" output = "screen" /> -->
    <!-- <node name="manage_moveit_scene_services_node" pkg="shape_servo_control" type="manage_moveit_scene_server.py" respawn="false" /> -->
    <include file="$(find point_cloud_segmentation)/launch/table_obj_segmenter.launch" />
    <node name="pykdl_utils_node" pkg="shape_servo_control" type="pykdl_utils_server.py" respawn="false" />

</launch>